# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dependencies
node_modules
.pnp
.pnp.js

# Expo
/packages/mobile/.expo/*
/packages/mobile/npm-debug.*
/packages/mobile/*.jks
/packages/mobile/*.p8
/packages/mobile/*.p12
/packages/mobile/*.key
/packages/mobile/*.mobileprovision
/packages/mobile/*.orig.*
/packages/mobile/web-build/

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
*.pem

# next.js
/**/.next/
/**/out/

# OSX
.DS_Store

# production
/**/build

# testing
coverage

# vercel
.vercel

packages/api/temp/*
!packages/api/temp/.gitkeep

packages/cli
*.code-workspace